<!DOCTYPE html>
<html>
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}		
		td, th {
			border: hidden;
			text-align: center;
			padding: 8px;
		}
	</style>
	<body>
		<form method="POST">
			<table>
				<tr>
					<td>
						Login
					</td>
				</tr>
				<tr>
					<td>
						Username&nbsp;:&nbsp;<input type="email" size="100" placeholder="Enter your email address" name="username">
					</td>
				</tr>
				<tr>
					<td>
						Password&nbsp;:&nbsp;<input type="password" size="100" placeholder="Enter your password" name="password">
					</td>
				</tr>
				<tr>
					<td> 
						<input style="width:65%; background-color: darkgreen; color: white;" type="submit" value="SUBMIT" name="submit">
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>